body {
	background-color: slateblue;
}

h1 {
	color: rgb(200, 200, 200);
}

img {
	max-width: 100%;
	background-color: purple;
	height: 300px;
}
.image {
	background-color: purple;
}

.fila {
	border: 1px solid black;
	height: 100px;
	align-items: center;
	background-color: grey;
}

.icon {
	background-color: slategray;
	border: 1px red solid;
}
.seccion-2 {
	background: darkcyan;
	border: 1px red solid;
}
.seccion-3 {
	background-color: darkred;
	border: 4px dotted wheat;
}
#seccion-2 {
	height: 400px;
}
#seccion-3 {
	height: 300px;
}
