h1 {
	color: purple;
}

h2 {
	color: grey;
}

.fakeimg {
	height: 200px;
	background: #aaa;
}

.description {
	text-align: justify;
	width: 300px;
}
#fila-1 {
	background-color: darkslategray;
}

#titulo {
	margin-bottom: 0;
	background-color: hotpink;
}
